{% extends "info/base_template.html" %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<main id="about">
  <h1 class="lg-heading">
    About
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">Who am I...</h2>
  <div class="about-info">
    <img src="{% static 'info/img/portrait.jpg' %}" alt="Riza Baltazar" class="bio-image">
    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p>Hey! My name is Riza Baltazar. I am a 3rd year Physics student at Carleton and I have an advanced diploma from Algonquin College in Computer Engineering Technology.
        I build web applications and I am learning SASS to build better user interfaces. I enjoy learning new technologies. I would like to create applications that are useful
        and educational.</p>
    </div>

    <div class="job job-1">
      <h3>TekSavvy</h3>
      <h6>Junior Software Developer</h6>
      <p>As a member of the R&D team, I built a user control library using Lync SDK and WPF for a CRM application and developed applications for the SharePoint intranet. We followed agile methodology; we had weekly scrums and used kanban boards (Trello and TFS).</p>
    </div>

    <div class="job job-2">
      <h3>Titus</h3>
      <h6>Junior Web Developer</h6>
      <p>I worked with Outlook Web Application (OWA) to help develop additional security features. I learned how to use Chrome and Internet Explorer debugging tools. I did research and wrote documentation on reverse proxy and forward proxy.</p>
    </div>

    <div class="job job-3">
      <h3>Canada Revenue Agency - Information Technology Branch</h3>
      <h6>IT Service Desk and Junior Web Developer</h6>
      <p>As part of the service desk team we provided on-site technical support to employees such as password reset in Active Directory, physically installing laptops and desktops, and installing Windows 7 on them using an imaging software, as well as enabling Blackberry encryption. I later worked as a Junior Web Developer and updated the Common Look and Feel for the intranet based on the Web Experience Toolkit (WET 2.0) protocols.</p>
    </div>
  </div>
</main>

<footer id="main-footer">Copyright &copy; 2019</footer>
{% endblock %}
