{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'info/css/info.min.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body id="{% if nbar == 'home' %}bg-img{% endif %}">
    <!-- <div class="overlay"></div> -->
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <div class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
            <a href="{% url 'info' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
            <a href="{% url 'about' %}" class="nav-link">About</a>
          </li>
          <li class="nav-item {% if nbar == 'projects' %}active{% endif %}">
            <a href="{% url 'projects' %}" class="nav-link">Projects</a>
          </li>
          <li class="nav-item {% if nbar == 'contact' %}active{% endif %}">
            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </header>

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'info/js/main.js' %}"></script>
  </body>
</html>
