main#calories {
  width: -webkit-fill-available;
}

.calorie {
  display: flex;
  margin: 1rem 0;

  .cards {
    margin-right: 1rem;
  }

  &-entry {
    grid-area: entry;
    max-width: 350px;
  }

  &-target {
    grid-area: table;
  }
}
