@import 'config';

// Menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  visibility: hidden;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  // Rotate into X
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg)  translate(7px, -6px);
      }
    }
  }
}

// Sidebar menu
.sidebar {
  background: $secondary-color;
  position: fixed;
  width: 200px;

  i {
    padding-right: 1rem;
  }

  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &-branding, &-nav {
    flex-flow: column wrap;
    float: left;
    height: 100vh;
  }

  &-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    @include easeOut;
  }

  &-nav-item {
    
    &.active {
      background: rgba(darken($secondary-color, 5), 1);
      border-left: $highlight-color 5px solid;

      a {
        color: #fff;
        margin-left: -5px;
      }

      i {
        color: $highlight-color;
      }
    }
  }

  &-nav-link {
    display: inline-block;
    position: relative;
    padding: 1rem 1rem;
    font-weight: 400;
    color: lighten($secondary-color, 35);
    text-decoration: none;
    width: 100%;
    @include easeOut;

    &:hover {
      background: darken($secondary-color, 5);
    }
  }

  &-text {
    position: absolute;

    &.show {
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

    &:hover {
      color: #fff;
      @include easeOut;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .sidebar-text:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
