
// Widescreen
@include mediaXl {

}

// Desktops & Laptops
@include mediaLg {
  .dashboard-stats {
    grid-template-areas:
    'stats1 stats2'
    'stats3 stats4';
    grid-template-columns: repeat(2, 1fr);
  }

  .settings {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'personal personal'
    'general goals';
    grid-template-columns: repeat(2, 1fr);

    &-personal {
      grid-area: personal;
      min-width: inherit;
    }

    &-general {
      grid-area: general;
    }

    &-goals {
      grid-area: goals;
    }
  }

  main {
    margin-left: 200px;
    @include easeOut;
  }

  .sidebar {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    @include easeOut;

    &-text {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      @include easeOut;
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  .dashboard-stats {
    grid-template-areas:
    'stats1'
    'stats2'
    'stats3'
    'stats4';
    grid-template-columns: 1fr;
  }

  .settings {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'personal'
    'general'
    'goals';
    grid-template-columns: 1fr;

    &-profile {
      display: block;
      grid-gap: 30px;
      grid-template-areas:
      'top'
      'bottom';
      grid-template-columns: 1fr;

      .portrait-center {
        grid-area: top;
      }

      .settings-form {
        grid-area: form;
        border-left: none;
        border-top: lighten($secondary-color, 45) 1px solid;
      }
    }

    &-personal {
      grid-area: personal;
      min-width: inherit;
    }

    &-general {
      grid-area: general;
    }

    &-goals {
      grid-area: goals;
    }
  }

  main {
    margin-left: 85px;
    @include easeOut;
  }

  .sidebar {
    width: 85px;
    visibility: show;
    transform: translate3d(0, 0, 0);
    @include easeOut;

    &-nav-link {
      padding: 1rem;

      i {
        padding-left: 1rem;
      }
    }

    &-text {
      visibility: hidden;
      transform: translate3d(-85px, 0, 0);
      @include easeOut;
    }
  }
}

// Smartphones
@include mediaSm {
  .dashboard-stats {
    grid-template-areas:
    'stats1'
    'stats2'
    'stats3'
    'stats4'
    'stats5';
    grid-template-columns: 1fr;
  }

  .settings {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'personal'
    'general'
    'goals';
    grid-template-columns: 1fr;

    &-profile {
      display: block;
      grid-gap: 30px;
      grid-template-areas:
      'top'
      'bottom';
      grid-template-columns: 1fr;

      .portrait-center {
        grid-area: top;
      }

      .settings-form {
        grid-area: form;
        border-left: none;
        border-top: lighten($secondary-color, 45) 1px solid;
      }
    }

    &-personal {
      grid-area: personal;
      min-width: inherit;
    }

    &-general {
      grid-area: general;
    }

    &-goals {
      grid-area: goals;
    }
  }

  main {
    margin-left: 0;
    @include easeOut;
  }

  .sidebar {
    visibility: hidden;
    width: 200px;
    transform: translate3d(-100%, 0, 0);
    @include easeOut;

    &-nav-link {
      padding: 1rem;
    }

    &-text {
      visibility: hidden;
      transform: translate3d(0, 0, 0);
      @include easeOut;
    }
  }

  .menu-btn {
    visibility: visible;
    @include easeOut;
  }
}
