@import 'config';
@import 'menu';
@import 'profile';

* {
  box-sizing: border-box;
}

body {
  // @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

header {
  background: white;
  position: fixed;
  padding: 0 2rem;
  z-index: 2;
  width: 100%;
  height: 4.5rem;
  line-height: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header-branding {
  display: inline-block;

  a {
    white-space: nowrap;
    text-decoration: none;
    color: $secondary-color;

    &:hover {
      color: darken($secondary-color, 20);
    }
  }
}

.authentication {
  display: inline-block;
  float:right;
  padding: 1em;

  a {
    border: 0;
    margin: 0.3rem 0;
    border-radius: 0.25rem;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: $highlight-color;
    color: #fff;

    &:hover {
      cursor: pointer;
      background: darken($secondary-color, 20);
    }
  }
}

.text-highlight {
  color: $highlight-color;
}

.wrapper {
  display: flex;
  padding-top: 4.5rem;
}

main {
  padding: 2rem;
  height: 100%;
  margin-left: 200px;

  &#dashboard {
    width: -webkit-fill-available;
  }
}

// Dashboard css
.dashboard-stats {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'stats1 stats2 stats3 stats4';
  grid-template-columns: repeat(4, 1fr);

  .stats-1 {
    grid-area: stats1;
  }

  .stats-2 {
    grid-area: stats2;
  }

  .stats-3 {
    grid-area: stats3;
  }

  .stats-4 {
    grid-area: stats4;
  }

  .stats {
    min-height: 8.7rem;
    text-align: center;
  }
}

.dashboard-graphs {
  margin: 1rem 0;
}

.cards {
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background: lighten(#fff, 7);
  color: set-text-color(#fff);
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0.3rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-light {
  @extend .btn;
  background: darken($highlight-color, 5);
  color: #fff;
  &:hover {
    background: darken($highlight-color, 10);
  }
}

.add-exercise-button {
  color: #32CD32;
  margin-right: 5px;
}

// Form styles
[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
[type='week'],
[type='time'],
select,
textarea {
  display: block;
  padding: 0.5rem;
  margin: 0.3rem 0;
  background: transparent;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 0.95rem;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

@import 'mobile';
