{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'calorie/css/calorie.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="header-branding">
        <a href="{% url 'index' %}"><h1>Health <span class="text-highlight">Journal</span></h1></a>
      </div>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
    </header>

    <div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-branding">
          <div class="sidebar-portrait"></div>
        </div>
        <ul class="sidebar-nav">
          <li class="sidebar-nav-item">
            <a href="{% url 'index' %}" class="sidebar-nav-link {% if nbar == 'home' %}active{% endif %}">
              <i class="fas fa-home"></i><span class="sidebar-text">Dashboard</span>
            </a>
          </li>
          <li class="sidebar-nav-item">
            <a href="{% url 'calories' %}" class="sidebar-nav-link {% if nbar == 'calories' %}active{% endif %}">
              <i class="fas fa-burn"></i><span class="sidebar-text">Calories</span>
            </a>
          </li>
          <li class="sidebar-nav-item">
            <a href="{% url 'sleep' %}" class="sidebar-nav-link {% if nbar == 'sleep' %}active{% endif %}">
              <i class="fas fa-bed"></i><span class="sidebar-text">Sleep</span>
            </a>
          </li>
          <li class="sidebar-nav-item">
            <a href="{% url 'mood' %}" class="sidebar-nav-link {% if nbar == 'mood' %}active{% endif %}">
              <i class="far fa-smile"></i><span class="sidebar-text">Mood</span>
            </a>
          </li>
          <li class="sidebar-nav-item">
            <a href="{% url 'profile' %}" class="sidebar-nav-link {% if nbar == 'profile' %}active{% endif %}">
              <i class="fas fa-user-circle"></i><span class="sidebar-text">Profile</span>
            </a>
          </li>
        </ul>
      </div>
    {% block content %}{% endblock %}
    </div>
    <script src="{% static 'calorie/js/main.js' %}"></script>
  </body>
</html>
