{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Calories{% endblock %}

{% block content %}
<main id="calories">
  <h2>Calories</h2>

  <div class="cards calorie-entry">
    <h3>New Calorie Entry</h3>
    <label for="datepicker">Date: </label>
    <input id="calorie-datepicker" class="datepicker" value="{{ today }}" date-picked-url="{% url 'ajax_load_calorie' %}">
    <div id="load-calorie-info"></div>
  </div>
  <br>
  <div class="cards calorie-table">
    <h3>To do:</h3>
    <ul>
      <li><del>Show data from date picked</del></li>
      <li>Show all data in a table</li>
      <li>Graph on dashboard</li>
    </ul>
  </div>
</main>
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'calorie/js/calories.js' %}"></script> -->
<script src="{% static 'calorie/js/calorie-info.js' %}"></script>
{% endblock %}
