{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Calories{% endblock %}

{% block content %}
<main id="calories">
  <h2>Calories</h2>
  <div class="dashboard-stats">
    <div class="cards stats stats-1">
      <h3>BMR</h3>
      <p id="bmr">{{ bmr }}</p>
    </div>
    <div class="cards stats stats-2">
      <h3>Average Weight</h3>
      <p id="avgWeight">{{ weight }}</p>
    </div>
    <div class="cards stats stats-3">
      <h3>Average Calories In</h3>
      <p id="avgCalIn">{{ calin }}</p>
    </div>
    <div class="cards stats stats-4">
      <h3>Average Calories Out</h3>
      <p id="avgCalOut">{{ calout }}</p>
    </div>
  </div>

  <div class="calorie">
    <div class="cards calorie-entry">
      <h3>New Calorie Entry</h3>
      <label for="datepicker">Date: </label>
      <input id="calorie-datepicker" class="datepicker" value="{{ today }}" date-picked-url="{% url 'ajax_load_calorie' %}" calorie-table-url="{% url 'ajax_load_calorie_table' %}">
      <div id="load-calorie-info"></div>
    </div>
    <div id="calorie-target" class="cards"></div>
  </div>
</main>
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'calorie/js/calories.js' %}"></script> -->
<script src="{% static 'calorie/js/calorie-info.js' %}"></script>
{% endblock %}
