{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Mood{% endblock %}

{% block content %}
<main id="mood">
  <h2>Mood</h2>

  <div class="cards mood-entry">
    <h3>New Mood Entry</h3>
    <label for="datepicker">Date: </label>
    <input id="mood-datepicker" class="datepicker" value="{{ today }}" date-picked-url="{% url 'ajax_load_mood' %}">
    <div id="load-mood-info"></div>
    <div class="row">

    </div>
  </div>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'calorie/js/mood-info.js' %}"></script>
{% endblock %}
