{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Mood{% endblock %}

{% block content %}
<main id="mood">
  <h2>Mood</h2>

  <div class="cards mood-entry">
    <h3>New Mood Entry</h3>
    <label for="datepicker">Date: </label>
    <input id="datepicker" class="datepicker" value="{{ today }}">
    <form class="" action="{% url 'mood' %}" method="post">
      {% csrf_token %}
      {{ mood_form.as_p }}
      <input class="btn-light" type="submit" name="" value="Save">
    </form>
    <div class="row">

    </div>
  </div>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'calorie/js/calories.js' %}"></script>
{% endblock %}
