{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Sleep{% endblock %}

{% block content %}
<main id="settings">
  <h2>Profile</h2>
    <div class="settings">
    <div class="cards settings-personal">
      {% if setup_exists %}
      <h3>{{ name }}</h3>
      {% else %}
      <h3>{{ request.user.username }}</h3>
      {% endif %}
      <hr>
      <div class="settings-profile">
        <div class="portrait">
          <div class="portrait-center">
            <img src="{% static 'calorie/img/profile-placeholder.gif' %}" alt="Riza Baltazar" class="portrait-image">
            <button type="button" name="button" class="btn-light portrait-button">Edit image</button>
          </div>

          <h4>About me</h4>
          <p>No Description.</p>
        </div>

        <form class="settings-form" action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ setup_form.as_p }}
          <input class="btn-light" type="submit" name="" value="Save">
        </form>
      </div>
    </div>

    <div class="cards settings-general">
      <h3>Metrics</h3>
      (Under construction)
      <hr>
      <form class="form-metrics" action="settings.html" method="post">
        <label for="height_input">Height:</label>
        <label class="height_input">
          <input type="radio" name="height_input">
          feet
        </label>
        <label class="height_input">
          <input type="radio" name="height_input" checked>
          cm
        </label>
        <br><br>
        <label for="weight_input">Weight:</label>
        <label class="weight_input">
          <input type="radio" name="weight_input">
          kg
        </label>
        <label class="weight_input">
          <input type="radio" name="weight_input" checked>
          lbs
        </label>
        <br><br>
        <label for="distance_input">Distance:</label>
        <label class="distance_input">
          <input type="radio" name="distance_input">
          miles
        </label>
        <label class="distance_input">
          <input type="radio" name="distance_input" checked>
          km
        </label>
        <br><br>
      </form>
    </div>

    <div class="cards settings-goals">
      <h3>Goals</h3>
      (Under construction)
      <hr>      
    </div>
  </div>
</main>
{% endblock %}
