{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Sleep{% endblock %}

{% block content %}
<main id="calories">
  <h2>Sleep</h2>

  <div class="cards calorie-entry">
    <h3>New Sleep Entry</h3>
    <form class="" action="index.html" method="post">
      <label for="entry_sleep">Sleep time:</label>
      <input type="text" name="entry_sleep" placeholder="0" value="{{ entry_sleep }}">

      <label for="entry_wake">Wake up time:</label>
      <input type="text" name="entry_wake" placeholder="0" value="{{ entry_wake }}">
      
      <br>
      <button type="button" name="button" class="btn-light">Save</button>
    </form>
    <div class="row">

    </div>
  </div>
</main>
{% endblock %}
