{% extends "calorie/base_template.html" %}
{% load static %}

{% block title %}Sleep{% endblock %}

{% block content %}
<main id="sleep">
  <h2>Sleep</h2>

  <div class="cards sleep-entry">
    <h3>New Sleep Entry</h3>
    <label for="datepicker">Date: </label>
    <input id="datepicker" class="datepicker" value="{{ today }}" date-picked-url="{% url 'ajax_load_sleep' %}">
    <form class="" action="{% url 'sleep' %}" method="post">
      {% csrf_token %}
      {{ sleep_form.as_p }}
      <input class="btn-light" type="submit" name="" value="Save">
    </form>
    <div class="row">

    </div>
  </div>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'calorie/js/calories.js' %}"></script>
{% endblock %}
